<!DOCTYPE html>
<html>
<head>
    <meta charset="utf/8" />
    <title>curtains</title>
</head>
<body>
    <h1>curtains</h1>
    <ul>
    {{#movies}}
        <li><a href="{{watchpath}}">{{name}}</a></li>
    {{/movies}}
    </ul>
</body>
</html>
